.idea
/vendor
/.phpunit.cache
/.phpunit.result.cache
/vendor/orchestra/testbench-core/laravel
/workbench/database/*.sqlite

.phpstorm.meta.php
_ide_helper.php

.agents
.claude
.codex
AGENTS.md
CLAUDE.md

/node_modules
/package-lock.json
/workbench/public/build
/composer.lock
